/* sets variables to easily change in other components */
:root {
  font-size: 0.625em;
  font-family: 'Raleway';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-tertiary: #f5f5f5;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-tertiary: #0d0d13;
  --grad-primary: radial-gradient(circle, #afc4ae 0%, #68ccbf 89% ,#5ebfb2 100%);
  --grad-secondary: linear-gradient(0deg, #8aed9ee6 0%, #036f1d 100%);
  --grad-tertiary: radial-gradient(circle, #aeb3c4 0%, #68a4cc 89% ,#5e88bf 100%);
  --grad-quaternary: radial-gradient(circle, #c4b0ae 0%, #cc6f68 89% ,#bf6d5e 100%);
  --grad-quinary: radial-gradient(circle, #353232 0%, #755755 89% ,#504644 100%);
  --grad-senary: radial-gradient(circle, #e5c8ff 0%, #bc99f5 89% ,#9c48fc 100%);
  --grad-septenary: radial-gradient(circle, #f3eeae 0%, #f5e58d 89% ,#ffd620 100%);
  --transition-speed: 600ms;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* changes the look of scrollbar, but currently removed it */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

a {
  text-decoration: none;
}

.btn-sml {
  margin: 1em;
  color: var(--text-primary);
  background: var(--bg-primary);
  padding: .8em;
  border-radius: 3em;
  transition: var(--transition-speed);
}

.btn-lg {
  margin: 1em;
  color: var(--text-primary);
  background: var(--bg-primary);
  padding: 1.3em;
  border-radius: 3em;
  transition: var(--transition-speed);
}

.btn-sml:hover, .btn-lg:hover {
  background: var(--bg-secondary);
  transform: scale(1.1);
  transition: var(--transition-speed);
}

/* navbar styles */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

/*  svg colors */
.fa-primary, .fa-secondary {
  color: #ec1515;
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.final {
  opacity: .1;
  margin: 1em;
  padding-left: 10em;
  transition: var(--transition-speed);
}

.final:hover{
  transition: var(--transition-speed);
  opacity: 1;
}

.final-image{
  border-radius: 10px;
}

/* home - highscores */
.home-wrapper{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: var(--grad-quaternary);
  overflow-y: auto;
}

.home-container{
  padding-left: 20vw;
}

.score-wrapper {
  margin: 1em;
  padding: 4em;
  min-height: 30em;
  max-width: 100vw;
  top: 20vh;
  left: 1em;
  right: 1em;
  display: flex;
  flex-wrap: wrap;
}

.score-card {
  margin: 1.5em;
  padding: .5em;
  display: flex;
  flex-wrap: wrap;
  height: 26em;
  width: 18em;
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  border-radius: 1em;
  box-shadow: -1rem 0 3rem #000;
  text-align: center;
  transition: var(--transition-speed);
}

.score-card:hover {
  transform: translateY(-2em);
  transition: var(--transition-speed);
}

/* header styles */
.header {
  font-size: 1.6rem;
  color: var(--text-tertiary);
  text-align: center;
  margin-top: 3rem;
}

.t-ucase {
  text-transform: uppercase;
}

.f-xl {
  font-size: 2.5em;
}

.f-big {
  font-size: 1.5em;
}

.t-wide {
  letter-spacing: 1.5rem;
}

.t-close {
  letter-spacing: 1rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.container {
  padding-left: 5vw;
}

/* memory game styles */
.memoryWrapper {
  background: var(--grad-tertiary);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.memoryGrid {
  margin-left: 20vw;
  background-image: url('/images/memory/savana.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
}

.memoryDeck {
  height: 100px;
  overflow: hidden;
}

.memoryCard {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
}

.memoryBlank {
  opacity: 0.1;
  width: 100px;
  height: 100px;
}

.memoryScore {
  margin-left: 3vw;
}

/* wack a mole styles */
.wackWrapper{
  height: 100vh;
  width: 100vw;
  background: var(--grad-quaternary);
  background-size: contain;
  overflow: hidden;
}

.wackGrid{
  margin-left: 20vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 80vmin;
  height: 60vmin;
  max-width: 600px;
  max-height: 600px;
}

.wackSquare{
  width: 25vmin;
  height: 25vmin;
  max-width: 150px;
  max-height: 150px;
  border-style: groove;
  border-color: var(--bg-primary);
  border-radius: 1em;
  cursor: crosshair;
}

.wackMole{
  background-image: url("/images/wack/mouse.jpg");
  background-size: cover;
}

/* connect four styles */
.connectWrapper{
  background: var(--grad-senary);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.connectGrid{
  margin-left: 15vw;
  border: 1em ridge;
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  width: 420px;
}

.connectGrid div{
  height: 60px;
  width: 60px;
}

.connectPlayer-one{
  background:linear-gradient(red, darkred);
  border-radius: 50%;
}

.connectPlayer-two{
  background:linear-gradient(blue, darkblue);
  border-radius: 50%;
}

/* snake styles */
.snakeWrapper{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--grad-primary);
}

.snakeGrid {
  margin-left: 15vw;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 20px solid;
  border-image: url('/images/snake/wall.png') 25% repeat;
}

.snakeGrid div {
  width: 20px;
  height: 20px;
  background-size: contain;
  box-sizing: border-box;
}

.snake{
  width: 18px;
  height: 18px;
  background: var(--grad-secondary);
  border: 1px solid black;
  border-radius: 2px;
}

.snake head{
  background-color: red;
  z-index: 10;
}

.apple{
  background-image: url('/images/snake/apple.png');
  background-size: cover;
}

.dpad{
  display: none;
}

/* space invaders styles */
.spaceWrapper{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--grad-quinary);
}

.spaceGrid{
  margin-left: 15vw;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 450px;
  height: 450px;
  background-color: var(--bg-tertiary);
}

.spaceGrid div {
  width: 30px;
  height: 30px;
}

.shooter {
  background-image: url("/images/space/blaster.png");
  background-size: contain;
}

.invader {
  background-image: url("/images/space/invader.png");
  background-size: contain;
  border-radius: 5px;
}

.boom {
  background-image: url("/images/space/boom.png");
  background-size: contain;
}

.laser {
  background-image: url("/images/space/fire.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* tetris styles */
.tetris-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: var(--grad-tertiary);
}

.tetris-container{
  padding-left: 5vw;
}

t-div {
  height: 2rem;
  width: 2rem;
}

.t-score-display {
  font-size: 5rem;
  color: rgb(133, 121, 107, 0.5);
}

.tetris-game-area {
  display: flex;
  justify-content: center;
}

.tetris-game {
  height: 0;
  width: 300px;
}

.tetris-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 20rem;
  height: 40rem;
}

.previous-shape {
  width: 10rem;
  padding-left: 2rem;
  margin-top: -5rem;
}

.previous-grid {
  display: flex;
  flex-wrap: wrap;
  width: 8rem;
  height: 8rem;
}

.block {
  box-sizing: border-box;
  background-color: blue;
  border-radius: .2em;
  border: groove .3em #ababff;
}

.block2 {
  box-sizing: border-box;
  background-color: green;
}

.block3 {
  box-sizing: border-box;
  background-color: yellow;
}

.tetris-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  width: 17.5rem;
  height: 25rem;
  background: linear-gradient(#d0d0d0, #f0f0f0);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

.t-score, .t-lines-display {
  padding-top: 1rem;
  font-size: 1.2rem;
}


/* Small screens - moves navbar to bottom of page*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    overflow-x: scroll;
  }

  .nav-item:last-child, .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .container{
    padding-left: 0vw;
  }

  .score-wrapper {
    justify-content: space-evenly;
  }

  /* shrink memory to fit on small screens */
  .memoryGrid{
    margin-left: 1vw;
  }

  /* shrink wack-a-mole to fit on small screens */
  .wackWrapper{
    padding-left: 0vw;
    width: 100vw;
  }

  .wackGrid{
    margin-left: 10vw;
    width: 80vmin;
    height: 65vmin;
    max-width: 600px;
    max-height: 600px;
  }

  /* shrink snake to fit small screens */
  .snakeGrid {
    margin-left: 8vw;
    width: 300px;
    height: 300px;
  }
  
  .snakeGrid div {
    width: 15px;
    height: 15px;
  }

  /* only show dpad in small screens */
  .dpad {
    display: grid;
    grid-template-columns: 6em auto 6em;
    grid-template-rows: repeat(3, 5em);
    margin-top: -8vh;
    margin-left: 50vw;
    height: 20vh;
    width: 20vh;
    justify-content: center;
    text-align: center;
  }

  /* dpad buttons */
  .fas{
    color: var(--bg-primary);
    transition: var(--transition-speed);
  }

  .fas:hover, .fas:focus{
    color: var(--bg-secondary);
    transform: scale(1.1);
    transition: var(--transition-speed);
  }

  /* connect four styles for small screens */
  .connectGrid{
    margin-left: 8vw;
    border: 1em ridge;
    height: 270px;
    width: 315px;
  }
  
  .connectGrid div{
    height: 45px;
    width: 45px;
  }

  /* space invaders styles for small screens */
  .spaceGrid{
    margin-left: 6vw;
    width: 360px;
    height: 360px;
  }
  
  .spaceGrid div {
    width: 24px;
    height: 24px;
  }








}

/* Large screens moves navbar to left side of page*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 13rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
    margin-right: 3vw;
  }
}