/* sets variables to easily change in other components */
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

/* changes the look of scrollbar, but currently removed it */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

/* anything with fa comes from font awesome, remove these if font awesome is removed */
.fa-primary {
  color: #ec1515;
}

.fa-secondary {
  color: #ec1515;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.final{
  opacity: .1;
  margin: 1em;
  padding-left: 10em;
  transition: var(--transition-speed);
}

.final:hover{
  transition: var(--transition-speed);
  opacity: 1;
}

.final-image{
  border-radius: 10px;
}

.memoryWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/images/memory/savana.jpeg');
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.memoryContainer{
  margin-left: 20vw;
}

.memoryGrid{
  /* border: var(--bg-primary) solid; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 310px;
  width: 420px;
}

.memoryDeck{
  height: 100px;
  overflow: hidden;
}

.memoryScore{
  margin-left: 3vw;
}

.memoryReset{
  margin: 1em;
  color: var(--text-primary);
  background: var(--bg-primary);
  padding: 1em;
  border-radius: 3em;
  transition: var(--transition-speed);
}

.memoryReset:hover{
  background: var(--bg-secondary);
  transform: scale(1.1);
  transition: var(--transition-speed);
}

.wackWrapper{
  margin-left: 15vw;
  background-image: url("/images/wack/whack.jpg");
  background-size: cover;
}

.wackGrid{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 80vmin;
  height: 60vmin;
  max-width: 600px;
  max-height: 600px;
}

.wackSquare{
  width: 25vmin;
  height: 25vmin;
  max-width: 150px;
  max-height: 150px;
  border-style: groove;
  border-color: var(--bg-primary);
  border-radius: 1em;
  cursor: crosshair;
}

.wackMole{
  background-image: url("/images/wack/mouse.jpg");
  background-size: cover;
}

.connectContainer{
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.connectContainer::after {
  content: "";
  background: url("/images/connectFour/connect4.png");
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.connectWrapper{
  margin-left: 15vw;
}

.connectGrid{
  border: 1em ridge;
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  width: 420px;
}

.connectGrid div{
  height: 60px;
  width: 60px;
}

.connectPlayer-one{
  background:linear-gradient(red, darkred);
  border-radius: 50%;
}

.connectPlayer-two{
  background:linear-gradient(blue, darkblue);
  border-radius: 50%;
}

.snakeWrapper{
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.snakeWrapper::after {
  content: "";
  background: url("/images/snake/nokia.png");
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.snakeContainer{
  margin-left: 15vw;
}

.snakeGrid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 20px solid;
  border-image: url('/images/snake/wall.png') 25% repeat;
}

.snakeGrid div {
  width: 20px;
  height: 20px;
  background-size: contain;
  box-sizing: border-box;
}

.snake{
  width: 18px;
  height: 18px;
  background: linear-gradient(0deg, rgba(138,237,158,0.9) 0%, rgba(3,111,29,1) 100%);
  border: 1px solid black;
  border-radius: 2px;
}

.snake head{
  background-color: red;
  z-index: 10;
}

.apple{
  background-image: url('/images/snake/apple.png');
  background-size: cover;
}

.dpad{
  display: none;
}

.spaceWrapper{
  margin-left: 15vw;
  overflow: hidden;
}

.spaceGrid{
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 450px;
  height: 450px;
  background-color: pink;
}

.spaceGrid div {
  width: 30px;
  height: 30px;
}

.shooter {
  background-image: url("/images/space/blaster.png");
  background-size: contain;
}

.invader {
  background-image: url("/images/space/invader.png");
  background-size: contain;
  border-radius: 5px;
}

.boom {
  background-image: url("/images/space/boom.png");
  background-size: contain;
}

.laser {
  background-image: url("/images/space/fire.png");
  background-repeat: no-repeat;
  background-size: contain;
}




/* Small screens - moves navbar to bottom of page*/
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .memoryContainer{
    margin-left: 1vw;
  }

  .wackWrapper{
    margin-left: 7vw;
    overflow: hidden;
    height: 80vh;
  }

  .wackGrid{
    width: 80vmin;
    height: 65vmin;
    max-width: 600px;
    max-height: 600px;
  }

  .snakeContainer{
    margin-left: 8vw;
  }

  .snakeGrid {
    width: 300px;
    height: 300px;
  }
  
  .snakeGrid div {
    width: 15px;
    height: 15px;
  }
  
  .snake{
    background: linear-gradient(0deg, rgba(138,237,158,0.9) 0%, rgba(3,111,29,1) 100%);
    border: 1px solid black;
    border-radius: 2px;
  }

  .dpad{
    display: grid;
    grid-template-columns: 65px auto 65px;
    grid-template-rows: repeat(3, 45px);
    margin-top: 2vh;
    margin-left: 26vw;
    height: 20vh;
    width: 20vh;
  }

  .fas{
    color: var(--bg-primary);
    transition: var(--transition-speed);
  }

  .fas:hover, .fas:focus{
    color: var(--bg-secondary);
    transform: scale(1.1);
    transition: var(--transition-speed);
  }

}

/* Large screens moves navbar to left side of page*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 13rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
    margin-right: 3vw;
  }
}